In [2]:
!pip install matplotlib
!pip install numpy
!pip install pandas

Requirement already satisfied: matplotlib in c:\users\msi gs\.conda\envs\dnlp\lib\site-packages (3.3.3)
Requirement already satisfied: numpy>=1.15 in c:\users\msi gs\.conda\envs\dnlp\lib\site-packages (from matplotlib) (1.19.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\msi gs\.conda\envs\dnlp\lib\site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: cycler>=0.10 in c:\users\msi gs\.conda\envs\dnlp\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\msi gs\.conda\envs\dnlp\lib\site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\msi gs\.conda\envs\dnlp\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\msi gs\.conda\envs\dnlp\lib\site-packages (from matplotlib) (8.0.1)
Requirement already satisfied: six in c:\users\msi gs\.conda\envs\dnlp\lib\site-packages (from cycler>=0.10->matplotlib) (1.15.0)
Requirement already satisfied: numpy in c:\users\msi gs\.conda\envs\dnlp\lib\site-packages (1.19.1)
Collecting pandas
  Downloading pandas-1.1.4-cp36-cp36m-win_amd64.whl (8.7 MB)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\msi gs\.conda\envs\dnlp\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in c:\users\msi gs\.conda\envs\dnlp\lib\site-packages (from pandas) (1.19.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\msi gs\.conda\envs\dnlp\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: six>=1.5 in c:\users\msi gs\.conda\envs\dnlp\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Installing collected packages: pandas
Successfully installed pandas-1.1.4

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
matches = pd.read_csv("data/matches.csv")
deliveries = pd.read_csv("data/matches.csv")

In [38]:
matches.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [39]:
matches['win_by_runs'].max()

146

In [40]:
matches['win_by_wickets'].max()

10

In [41]:
matches.describe()

                 id       season  dl_applied  win_by_runs  win_by_wickets
count    756.000000   756.000000  756.000000   756.000000      756.000000
mean    1792.178571  2013.444444    0.025132    13.283069        3.350529
std     3464.478148     3.366895    0.156630    23.471144        3.387963
min        1.000000  2008.000000    0.000000     0.000000        0.000000
25%      189.750000  2011.000000    0.000000     0.000000        0.000000
50%      378.500000  2013.000000    0.000000     0.000000        4.000000
75%      567.250000  2016.000000    0.000000    19.000000        6.000000
max    11415.000000  2019.000000    1.000000   146.000000       10.000000

In [73]:
#lets get all the matches that RCB batted first
rcb_bat = matches[matches.team1 == 'Royal Challengers Bangalore']
rcb_bat_val = len(rcb_bat.index)
print(f"RCB batted {rcb_bat_val} first")

RCB batted 85 first

In [82]:
#lets get all the matches that RCB won when they batted first
rcb_bat_win  = rcb_bat[rcb_bat.winner=='Royal Challengers Bangalore']
rcb_bat_win_val = len(rcb_bat_win.index)
print(f"RCB has won {rcb_bat_win_val} matches when they batted first")

RCB has won 35 matches when they batted first

In [76]:
# lets get all the matches that RCB bowled first
rcb_field = matches[matches.team2 =='Royal Challengers Bangalore']
rcb_bowl_val = len(rcb_field.index)
print(f"RCB bowled {rcb_bowl_val} matches first.")

RCB bowled 95 matches first.

In [75]:
#lets  get all the matches that RCB has won when they bowled first
rcb_bowl_win = rcb_field[matches.winner =='Royal Challengers Bangalore']
rcb_bowl_win_val = len(rcb_winner.index)
print(f"RCB won {rcb_bowl_win_val} matches when they bowled first.")

RCB won 49 matches when they bowled first.

In [47]:
matches[matches.team2 =='Royal Challengers Bangalore'].winner == 'Royal Challengers Bangalore'

0      False
16     False
26     False
32     False
41     False
       ...
702    False
706    False
723     True
741    False
749     True
Name: winner, Length: 95, dtype: bool

In [84]:
total_rcb_matches = rcb_bowl_val + rcb_bat_val
print(total_rcb_matches)

180

In [90]:
bowl_first_win_percent = (rcb_bowl_win_val)*100//total_rcb_matches 
print(f"{bowl_first_win_percent}% win when chased")

27% win when chased

In [89]:
bat_first_win_percent = (rcb_bat_win_val)*100// total_rcb_matches
print(f"{bat_first_win_percent}% win when defended")

19% win when defended